-r requirements.txt
black
flake8
mypy
pre-commit
pytest
pytest-homeassistant-custom-component
pylint-pytest
pylint
pytest-aiohttp
pytest-asyncio
# HA component dependencies that are not pulled transitively
hassil
home-assistant-intents
mutagen
httpx>=0.23.0 # not directly required, pinned by Snyk to avoid a vulnerability
