-r requirements.txt
aioresponses
black
flake8
haffmpeg
hassil
home_assistant_intents
mypy
mutagen
pre-commit
pytest
pytest-homeassistant-custom-component
pylint-pytest
pylint
pytest-aiohttp
pytest-asyncio
respx
